.footer-container {
    background-color:lightpink;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 2px;
    width: 98vw;
    height: 5vh;
    padding: 5px 0px;
}